@charset "UTF-8";
html{
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.25rem;
}

*{
	margin:0;
	border:0;
	padding:0;
	font-style:normal;
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-select: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
}


#record {
    width: 100%;
    height: auto
}


/* 顶部 */

.head{
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0 .63rem;
    position: fixed;
    z-index: 10;
    top: 0;
    border-bottom: 1px solid #EEEEEE;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.head img {
    margin-top: .2rem;
    width: .5rem;
    height: .5rem
}

.header1 {
    font-size: .85rem;
    color: #333333
}

#header2 {
    font-size: .85rem;
    color: #333333
}

/* 短视频过滤 */
.filter {
    margin: 3rem .63rem .4rem;
    display: flex;
    justify-content: flex-end;
    align-items: center
}

.filter span {
    width: 4.2rem;
    font-size: .7rem;
    color: #333333
}

.filter input {
    display: none
}

.filter label {
    width: 2rem;
    background: #CCC;
    height: .75rem;
    border-radius: .7rem;
    float: right;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset
}

.filter label em {
    width: .75rem;
    height: .75rem;
    float: left;
    /* margin: 1px; */
    border-radius: 13px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, .1);
    background: #FFF;
    transition: 0.1s
}

.filter input:checked+label {
    background: #FDB00A
}

.filter input:checked+label em {
    margin: 1px 1px 1px 25px
}

.filter input:disabled+label {
    opacity: 0.5
}



/* 内容*/

.content,.contents{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0.63rem;
    box-sizing: border-box
}

.contents{
    margin-bottom: 2.5rem;
}

.content1 {
    height: 1rem;
    display: flex;
    align-items: center;
    margin-bottom: .63rem
}

.content1 div {
    width: .1rem;
    height: 100%;
    margin-right: .63rem;
    border-radius: .3rem;
    background: #FDB00A
}

.content1 p{
    font-size: .75rem;
    color: #333333
}

.item-main {
    width: 100%
}

.item-main a{
    width: 100%;
    display: flex;
    text-decoration: none 
}

.image{
    position: relative;
    width:40%
}

.image img{
    width:100%;
    height:100%
}

.image span{
    position: absolute;
    right: .3rem;
    bottom: .3rem;
    font-size: .5rem;
    color: #ffffff
}


.content2 {
    width:60%;
    margin-left: .65rem;
    border-bottom: 1px solid #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    box-sizing: border-box
}

.name {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content:space-between;
    font-size: .8rem;
    color: #333333;
}

.name p:first-child{
    width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.name p:last-child{
    width: 36%;
}


.content4{
    display: flex;
    align-items: center
}

.content4 img{
    width: .5rem;
    height: .8rem;
    margin-right: .3rem;
}

.content4 p{
    height: .78rem;
    margin-right: .3rem;
    font-size: .6rem;
    color: #999999;
}

.content4 :last-child{
    margin-top: .2rem;
}

/*单选、多选、开关*/
ul, li {
	list-style: none;
}

.circle{
    width: 20%
}

.aui-checkbox {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #ffffff;
    border: solid 1px #dddddd;
    -webkit-border-radius: 0.6rem;
    border-radius: 0.6rem;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    position: relative;
    display: none;
    vertical-align: top;
    cursor: default;
    -webkit-appearance: none;
    -webkit-user-select: none;
    user-select: none;
    transition: background-color ease 0.1s;
}
.aui-checkbox {
    border-radius: 50%;
}
.aui-checkbox:checked,
.aui-checkbox.aui-checked {
    background-color: #FE9F2A;
    border: solid 1px #FE9F2A;
    text-align: center;
    background-clip: padding-box;
}
.aui-checkbox:checked:before,
.aui-checkbox.aui-checked:before,
.aui-checkbox:checked:after,
.aui-checkbox.aui-checked:after {
    content: '';
    width: 0.5rem;
    height: 0.3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.25rem;
    background: transparent;
    border: 1px solid #ffffff;
    border-top: none;
    border-right: none;
    z-index: 2;
    border-radius: 0;
    transform: rotate(-45deg);
}


#item-list-wrapper {
    width: 100%;
}
#item-list-wrapper input{
    vertical-align: middle;
}
 input.check{
    margin-right: 0.3rem;
}
.item-content{
    background-color: #fff;
}
.item-content .list-item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .63rem;
}

.flex{
    display: flex;
}

#hide{
    display: none;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
}


#cart-pay{
    font-size: .8rem;
    width: 100%;
    height: 2.66rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .8rem;
}

.total{
    width: 50%;
    text-align: center;
    color: #333333
  }

.level{
  width: 1px;
  height: 1.25rem;
  margin: 0 auto;
  background: #DDDBDB
}

#del{
    width: 50%;
    text-align: center;
    color: #FE9F2A
  }